body {
    margin: 0;
    padding: 0;
    background-color: rgb(101, 131, 133);
}

h1 {
    color: rgb(4, 123, 200);
}

header{
    width: 100px;
    height: 100px;
    background-color: rgb(27, 30, 85);
}

.answer {
    width: 100px;
    height: 100px;
    background-color: black;
    flex-grow : 1;
}

footer { 
    width: 100px;
    height: 100px;
    background-color: rgb(143, 13, 13);
}


.main {
    display: flex;
    flex-direction:row;
    /* justify-content: center; */
    /* height: 100%; */
    /* width: 100%; */
    text-align: center;
    /* margin-top: 2em; */
    border: 10px solid #000;
}

.mainLeft {
    display: flex;
    flex-direction: column;
    flex-grow : 1;
}

.productSearch {
    display: flex;
    flex-direction: column;
}

.title {
    width: 100%;
    font-size: large;
}

button {
    display: inline-block;
    background-color: (0, 140, 234);
}